@font-face{font-family:'ProximaNova';src:url('webfonts/298CCB_2_0.eot');src:url('webfonts/298CCB_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/298CCB_2_0.woff') format('woff'),url('webfonts/298CCB_2_0.ttf') format('truetype')}@font-face{font-family:'ProximaNova';src:url('webfonts/298CCB_0_0.eot');src:url('webfonts/298CCB_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/298CCB_0_0.woff') format('woff'),url('webfonts/298CCB_0_0.ttf') format('truetype');font-weight:300}@font-face{font-family:'ProximaNova';src:url('webfonts/298CCB_1_0.eot');src:url('webfonts/298CCB_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/298CCB_1_0.woff') format('woff'),url('webfonts/298CCB_1_0.ttf') format('truetype');font-weight:500}@font-face{font-family:'ProximaNova';src:url('webfonts/298CCB_3_0.eot');src:url('webfonts/298CCB_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/298CCB_3_0.woff') format('woff'),url('webfonts/298CCB_3_0.ttf') format('truetype');font-weight:bold}

body {
    font-family: 'ProximaNova','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    line-height: 24px;
    background: #ffffff;
    color: #202020;
    min-width: 800px;
    margin: 16px 20px;
}

header {
    border-bottom: 1px solid rgba(0,0,0,0.07);
    text-align: right;
    margin-bottom: 16px;
}

p {
    font-weight: 300;
}

column {
    background: #f7f7f7;
    width: 10px;
}

canvas {
    margin: 10px 10px 0 10px;
    background-color: #ffffff;
}
